.u-center-text {
  text-align: center;
}
.u-margin-bottom-medium {
  margin-bottom: 10rem;
}
.u-margin-small {
  margin-bottom: 1.5rem;
}
.u-center-text {
  text-align: center;
}

//!important overwrite everything else
